@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

html, body {
  padding: 0;
  margin: 0; 
  height: 100%;
  width: 100%;
}

body {
  background-color: #515151;
}

p, h1, h2 {
  padding: 0;
  margin: 0; 
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

header {
  height: 98px;
  width: 100%;
  display: flex;
  background-image: url(header.png);
  background-size: contain;
  background-repeat: no-repeat;
}

header h1 {
  margin-top: 26px;
  margin-left: 12px;
}

.dropdown {
  width: 15px;
  height: 10px;
  margin-top: 40px;
  padding-left: 5px;
}

.managerPFP {
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 157px;
}

.filters {
  display: flex;
}

.search {
  font-family: 'DM Sans', sans-serif;
  margin-left: 12px;
  padding-top: 24px;
}

#search {
  height: 45px;
  width: 198px;
  background: #434343;
  border: 1px solid #000000;
  border-radius: 10px;
  text-indent: 9px;
  font-size: 20px;
}

.buttons {
  padding-top: 24px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 108px;
}

.buttons a {
  background-color: #515151;
  border: none;
  height: 45px;
  width: 45px;
}

.buttons button {
  background-color: #515151;
  border: none;
  height: 45px;
  width: 45px;
}

.addEmployee {
  background-image: url(add.png);
  background-size: contain;
}

.filterEmployee {
  background-image: url(filter.png);
  background-size: contain;
}

.employeeCards {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: 177px;
  height: 100px;
  background: #434343;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.card a {
  text-decoration: none;
  color: #000000;
}

.superior {
  height: 45%;
  width: 100%;
  display: flex;
}

.employeePfp {
  width: 42px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 6px;
}

.superior p {
  margin-top: 16px;
  margin-left: 8px;
}

.inferior {
  height: 55%;
  width: calc(100% - 6px);
  display: flex;
  margin-left: 6px;
  gap: 34px;
  align-items: center;
}

.inferior a {
  width: 30px;
  height: 30px;
}

.status {
  width: 101px;
  height: 30px;
}

.edit {
  width: 30px;
  height: 30px;
}

.filter-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 20px;
  border: 1px black solid;
  border-radius: 10px;
  box-shadow: 100 100 100px rgba(1, 1, 1, 1);
}

input:disabled {
  color: black;
  background-color: #D9D9D9;
  border: none;
  cursor: not-allowed;
}