@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

html, body {
  padding: 0;
  margin: 0; 
  height: 100%;
  width: 100%;
}

body {
  background-color: #515151;
}

p, h1, h2 {
  padding: 0;
  margin: 0; 
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

header {
  height: 88px;
  width: 100%;
  display: flex;
  background-color: #1CD29B;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid black;
}

header h1 {
  margin-top: 26px;
  margin-left: 12px;
}

.dropdown {
  width: 15px;
  height: 10px;
  margin-top: 40px;
  padding-left: 5px;
}

.managerPFP {
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 157px;
}

.filters {
  display: flex;
}

.search {
  font-family: 'DM Sans', sans-serif;
  margin-left: 12px;
  padding-top: 24px;
}

#search {
  height: 45px;
  width: 198px;
  background: #434343;
  border: 1px solid #000000;
  border-radius: 10px;
  text-indent: 9px;
  font-size: 20px;
}

.buttons {
  padding-top: 24px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 108px;
}

.buttons a {
  background-color: #515151;
  border: none;
  height: 45px;
  width: 45px;
}

.buttons button {
  background-color: #515151;
  border: none;
  height: 45px;
  width: 45px;
}

.addEmployee {
  background-image: url(add.png);
  background-size: contain;
}

.filterEmployee {
  background-image: url(filter.png);
  background-size: contain;
}

.employeeCards {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: 177px;
  height: 100px;
  background: #434343;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.card a {
  text-decoration: none;
  color: #000000;
}

.superior {
  height: 45%;
  width: 100%;
  display: flex;
}

.employeePfp {
  width: 42px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 6px;
}

.superior p {
  margin-top: 16px;
  margin-left: 8px;
}

.inferior {
  height: 55%;
  width: calc(100% - 6px);
  display: flex;
  margin-left: 6px;
  gap: 34px;
  align-items: center;
}

.inferior a {
  width: 30px;
  height: 30px;
}

.status {
  width: 101px;
  height: 30px;
}

.editSmall {
  width: 30px;
  height: 30px;
}

.filter-container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 20px;
  border: 1px black solid;
  border-radius: 10px;
  box-shadow: 100 100 100px rgba(1, 1, 1, 1);
}

.formContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employeeArticle {
  width: 92.5%;
  outline: 1px black solid;
  border-radius: 10px;
  background-color: #434343;
}

.miniHeader {
  margin: 10px;
  display: flex;
  align-items: center;
}

.miniHeader img {
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.miniHeader p {
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: 900;
  padding: 5px;
  background-color: white;
  outline: 1px solid black;
  border-radius: 10px;
}

.formsArticle {
  margin: 18px;
  padding: 20px;
  width: 79%;
  height: 280px;
  outline: 1px black solid;
  border-radius: 10px;
  background-color: #555555;
  font-weight: 900;
}

.formsArticle input{
  position: absolute;
  left: 40%;
  width: 45%;
  padding: 5px;
  margin-top: -2px;
  font-weight: bold;
  border: none;
  background-color: white;
  outline: 1px solid black;
  border-radius: 10px;
}

.switch {
  position: absolute;
  top: 62.2%;
  left: 59%;
  width: 187px;
  height: 30px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #1CD29B;
  transition: all 0.2s ease;
  border-radius: 10px;
  outline: 1px solid black;
}

.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}

.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}

#employee-form-post input[type=radio] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.534);
  width: 75px;
  line-height: 30px;
  transition: all 0.2s ease;
}

label[for=active] {
  position: absolute;
  left: 0px;
  height: 20px;
}

label[for=inactive] {
  position: absolute;
  right: 0px;
}

#inactive:checked ~ .switch {
  background: #E32D64;
}

#inactive:checked ~ .switch span {
  background: #fff;
  margin-left: -10px;
}

#inactive:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#active:checked ~ .switch label[for=active] {
  color: #000000;
}

#inactive:checked ~ .switch label[for=inactive] {
  color: #000000;
}

.submitButton {
  position: absolute;
  top: 65%;
  left: 11.8%;
  background-image: url(save.png);
  background-size: contain;
  background-color: #555555;
  border: none;
  height: 40px;
  width: 100px;
}

.return {
  margin-top: 10px;
  margin-left: 238px;
  width: 138px;
}

#editFormsArticle {
  margin: 18px;
  padding: 20px;
  width: 79%;
  height: 335px;
  outline: 1px black solid;
  border-radius: 10px;
  background-color: #555555;
  font-weight: 900;
}

#addFormsArticle {
  margin: 18px;
  padding: 20px;
  width: 79%;
  height: 290px;
  outline: 1px black solid;
  border-radius: 10px;
  background-color: #555555;
  font-weight: 900;
}

.buttonsContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.buttonsContainer .return{
  margin-top: 0px;
  margin-left: 0px;
}

.deleteButton {
  background-image: url(delete.png);
  background-size: contain;
  background-color: #555555;
  border: none;
  height: 40px;
  width: 107px;
  margin-top: -5px;
}

.edit {
  height: 40px;
  width: 95px;
}

#addSubmitButton {
  position: absolute;
  top: 48%;
  left: 11.8%;
  background-image: url(save.png);
  background-size: contain;
  background-color: #555555;
  border: none;
  height: 40px;
  width: 100px;
}

#addSwitch {
  position: absolute;
  top: 46.7%;
  left: 59%;
  width: 187px;
  height: 30px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #1CD29B;
  transition: all 0.2s ease;
  border-radius: 10px;
  outline: 1px solid black;
}

input:disabled {
  color: black;
  background-color: #c7c7c7;
  border: none;
  cursor: not-allowed;
}

.filter-container input[type="date"]::-webkit-clear-button {
  display: none;
}

.filter-container input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

.filter-container input[type="date"]::-webkit-calendar-picker-indicator {
  color: #000000;
}

.filter-container input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  border:1px solid black;
  border-radius: 10px;
  background:#ffffff;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #000000;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

select {
  width: 60%;
  height: 15%;
  border: none;
  outline: 1px solid black;
  border-radius: 5px;
  font-size: 1.1em;
}

.wrapper{
  display: inline-flex;
  background: #fff;
  height: 30px;
  width: 220px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 10px 5px;
  outline: 1px solid black;
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #1CD29B;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"]{
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #1CD29B;
  background: #1CD29B;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span{
  font-size: 20px;
  color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

@media screen and (max-width: 380px) {
  .filter-container {
    height: 220px;
  }

  .managerPFP {
    margin-left: 140px;
  }

  .buttons {
    width: 100px;
    margin-left: 45px;
  }

  .card {
    width: 170px;
  }

  .inferior {
    gap: 25px;
  }

  #addSwitch {
    top: 59%;
    width: 180px;
    height: 30px;
    left: 60%;
  }

  #addSubmitButton {
    top: 62%;
  }

  .return {
    margin-top: 10px;
    margin-left: 225px;
  }

  .switch {
    top: 79%;
    width: 180px;
    height: 30px;
    left: 60%;
  }

  .buttonsContainer {
    width: 99.2%;
  }

  .submitButton {
    top: 82%;
  }
}

@media screen and (min-height: 896px) {
  .filter-container {
    height: 220px;
  }

  .managerPFP {
    margin-left: 180px;
  }

  .buttons {
    width: 110px;
    margin-left: 72px;
  }

  .card {
    width: 190px;
  }

  .inferior {
    gap: 45px;
  }

  #addSwitch {
    top: 44%;
    width: 196px;
    height: 30px;
    left: 58.3%;
  }

  #addSubmitButton {
    top: 46%;
  }

  .return {
    margin-top: 10px;
    margin-left: 260px;
  }

  .switch {
    top: 58.5%;
    width: 196px;
    height: 30px;
    left: 58.3%;
  }

  .buttonsContainer {
    width: 100%;
  }

  .submitButton {
    top: 61%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
  }

  header{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18.2%;
    z-index: 0;
  }

  .managerPFP {
    position: absolute;
    left: 5%;
    bottom: 3%;
    margin-left: 0;
  }

  .filters {
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .search {
    margin-top: 50px;
    margin-left: 10px;
  }

  .buttons {
    position: absolute;
    top: 100%;
  }
  
  .buttons a {
    background-color: #1CD29B;
  }

  .buttons button {
    background-color: #1CD29B;
  }

  .employeeCards {
    position: absolute;
    width: calc(100% - 18.2%);
    left: 18.2%;
    gap: 10px;
  }

  .filter-container {
    width: 20%;
    height: 35%;
  }

  .formContainer {
    position: absolute;
    left: 18.2%;
    width: 50%;
  }

  #addFormsArticle {
    width: 86%;
  }

  #formsArticle {
    width: 86%
  }

  #addSwitch {
    top: 75%;
    left: 52.2%;
    width: 180px;
  }

  #addSubmitButton {
    top: 80%;
    left: 9%;
    z-index: 3;
    cursor: pointer;
  }

  .return {
    position: absolute;
    top: 69%;
    left: 35.8%;
  }

  #editReturn {
    top: 90.5%;
  }

  .submitButton {
    top: 85%;
    left: 9%;
    cursor: pointer;
  }

  .switch {
    top: 81%;
    left: 52.2%;
    width: 180px;
  }

  #editFormsArticle {
    width: 86%;
  }

  #employeeSwitch {
    top: 91%;
    left: 52.2%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 482px;
    left: 55.2%;
  }

  .buttonsContainer {
    margin-top: 482px;
    margin-left: 31%;
    width: 300px;
    gap: 40px;
  }

  .deleteButton {
    cursor: pointer;
  }
}

@media screen and (min-width: 1390px) {
  header {
    width: 16.5%;
  }

  .employeeCards {
    width: calc(100% - 16.5%);
    left: 16.5%;
    gap: 3px;
  }

  .formContainer {
    position: absolute;
    left: 16.5%;
    width: 50%;
  }

  #addSwitch {
    left: 50.6%;
    width: 180px;
  }

  #addFormsArticle {
    width: 88%;
  }

  .return {
    top: 60%;
    left: 37.8%;
  }

  #editReturn {
    top: 80%;
  }

  .submitButton {
    top: 85%;
    left: 9%;
    cursor: pointer;
  }

  .switch {
    top: 81%;
    left: 51%;
    width: 180px;
  }

  #editFormsArticle {
    width: 88%;
  }

  #employeeSwitch {
    top: 91%;
    left: 50.8%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 482px;
    left: 54.8%;
  }

  .buttonsContainer {
    margin-top: 482px;
    margin-left: 33.5%;
    width: 300px;
    gap: 40px;
  }

  #formsArticle {
    width: 88%;
  }
}

@media screen and (min-width: 1530px) {
  header {
    width: 15%;
  }

  .employeeCards {
    width: calc(100% - 15%);
    left: 15%;
    gap: 8px;
  }

  .card {
    width: 198px;
  }

  .inferior {
    gap: 50px;
  }

  .formContainer {
    position: absolute;
    left: 15%;
    width: 50%;
  }

  #addFormsArticle {
    width: 89%;
  }

  #addSwitch {
    left: 49.6%;
    width: 180px;
  }
  
  .return {
    top: 55%;
    left: 38.8%;
  }

  #editReturn {
    top: 73%;
  }

  .submitButton {
    top: 85%;
    left: 8%;
    cursor: pointer;
  }

  .switch {
    top: 81%;
    left: 49.8%;
    width: 180px;
  }

  #editFormsArticle {
    width: 89%;
  }

  #employeeSwitch {
    top: 91%;
    left: 49.8%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 482px;
    left: 54.2%;
  }

  .buttonsContainer {
    margin-top: 482px;
    margin-left: 35%;
    width: 300px;
    gap: 40px;
  }

  #formsArticle {
    width: 89%;
  }
}

@media screen and (min-width: 1700px) {
  header {
    width: 13.3%;
  }

  .employeeCards {
    width: calc(100% - 13.3%);
    left: 13.3%;
    gap: 0px;
  }

  .filter-container {
    width: 15%;
    height: 25%;
  }

  .formContainer {
    position: absolute;
    left: 13.3%;
    width: 50%;
  }

  .employeeArticle {
    height: 370px;
  }

  #addFormsArticle {
    width: 90%;
  }

  #addSwitch {
    top: 75%;
    left: 48.7%;
    width: 180px;
  }

  #addSubmitButton {
    top: 80%;
    left: 7%;
    z-index: 3;
    cursor: pointer;
  }

  #employee-form-post input{
    padding: 8px;
    margin-top: -10px;
  }
  
  .return {
    position: absolute;
    top: 50%;
    left: 39.4%;
  }

  #editEmployeeArticle {
    height: 505px;
  }

  #editReturn {
    top: 67%;
  }

  .submitButton {
    top: 85%;
    left: 7%;
    cursor: pointer;
  }

  .switch {
    top: 81%;
    left: 49%;
    width: 180px;
  }

  #editFormsArticle {
    width: 90%;
  }

  #employeeSwitch {
    top: 91%;
    left: 49.8%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 482px;
    left: 54.2%;
  }

  .buttonsContainer {
    margin-top: 482px;
    margin-left: 35%;
    width: 300px;
    gap: 40px;
  }

  #formsArticle {
    width: 89%;
  }

  #formsArticle input{
    padding: 8px;
    margin-top: -10px;
  }

  #employeeSwitch {
    top: 91%;
    left: 48.8%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 490px;
    left: 53.3%;
  }

  .buttonsContainer {
    margin-top: 490px;
    margin-left: 36%;
    width: 300px;
    gap: 40px;
  }

  #formsArticle {
    width: 90%;
  }

  #eEmployeeArticle {
    height: 450px;
  }
}

@media screen and (min-width: 1920px){
  header {
    width: 12%;
  }

  .employeeCards {
    width: calc(100% - 12%);
    left: 12%;
    gap: 0px;
  }

  .buttons {
    left: -8%;
  }

  .inferior {
    gap: 50px;
  }

  .formContainer {
    position: absolute;
    left: 12%;
    width: 50%;
  }

  #employee-form-put input{
    padding: 8px;
    margin-top: -10px;
  }

  #addFormsArticle {
    width: 91%;
  }

  #addSwitch {
    top: 75%;
    left: 47.8%;
    width: 180px;
  }

  .return {
    position: absolute;
    top: 44%;
    left: 40.7%;
  }

  #editReturn {
    top: 60%;
    left: 39.5%;
  }

  .submitButton {
    top: 85%;
    left: 7%;
    cursor: pointer;
  }

  .switch {
    top: 81%;
    left: 47.8%;
    width: 180px;
  }

  #editFormsArticle {
    width: 91%;
  }

  #employeeSwitch {
    top: 90%;
    left: 47.7%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 490px;
    left: 53%;
  }

  .buttonsContainer {
    margin-top: 490px;
    margin-left: 37.5%;
    width: 300px;
    gap: 40px;
  }

  #formsArticle {
    width: 91%;
  }

  #eEmployeeArticle {
    height: 450px;
  }
}

@media screen and (min-width: 2040px) {
  header {
    width: 11%;
  }

  .employeeCards {
    width: calc(100% - 11%);
    left: 11%;
    gap: 4px;
  }

  .card {
    width: 210px;
  }

  .inferior {
    gap: 60px;
  }

  .formContainer {
    position: absolute;
    left: 11%;
    width: 50%;
  }

  #addSwitch {
    top: 75%;
    left: 47.2%;
    width: 180px;
  }

  .return {
    position: absolute;
    top: 42%;
    left: 42%;
  }

  #editReturn {
    top: 56%;
    left: 39.5%;
  }

  .submitButton {
    top: 85%;
    left: 7%;
    cursor: pointer;
  }

  .switch {
    top: 81%;
    left: 47.2%;
    width: 180px;
  }

  #editFormsArticle {
    width: 92%;
  }

  #employeeSwitch {
    top: 90%;
    left: 47.3%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 490px;
    left: 52.5%;
  }

  .buttonsContainer {
    margin-top: 490px;
    margin-left: 38%;
    width: 300px;
    gap: 40px;
  }

  #formsArticle {
    width: 91%;
  }

  #eEmployeeArticle {
    height: 450px;
  }
}

@media screen and (min-width: 2300px) {
  header {
    width: 10%;
  }

  .employeeCards {
    width: calc(100% - 10%);
    left: 10%;
    gap: 7px;
  }

  .filter-container {
    width: 12%;
    height: 20%;
  }

  .formContainer {
    position: absolute;
    left: 10%;
    width: 50%;
  }

  #addFormsArticle {
    width: 92%;
  }

  #addSwitch {
    top: 72%;
    left: 46.5%;
    width: 180px;
  }

  .return {
    position: absolute;
    top: 37%;
    left: 44.2%;
  }

  #editReturn {
    top: 50%;
    left: 40.9%;
  }

  .submitButton {
    top: 83%;
    left: 6%;
    cursor: pointer;
  }

  .switch {
    top: 79%;
    left: 46.5%;
    width: 180px;
  }

  #editFormsArticle {
    width: 93%;
  }

  #employeeSwitch {
    top: 89%;
    left: 46.6%;
    width: 180px;
  }

  #employeeReturn {
    position: absolute;
    top: 490px;
    left: 52.2%;
  }

  .buttonsContainer {
    margin-top: 490px;
    margin-left: 39.5%;
    width: 300px;
    gap: 40px;
  }

  #formsArticle {
    width: 91%;
  }

  #eEmployeeArticle {
    height: 450px;
  }
}